---
import config from "$config";
import { contentUrl, getPublishedByLocale, localeStaticPaths } from "$utils/content";
import Base from "$layouts/Base.astro";
import ContentList from "$components/ContentList.svelte";
import ContentListingHeader from "$components/ContentListingHeader.astro";
import i18nit from "$i18n";

export const getStaticPaths = localeStaticPaths;

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const jottings = await getPublishedByLocale("jotting", locale);

// Standardize jotting structure
const list = jottings.map(jotting => ({
	id: jotting.id,
	url: contentUrl(locale, "jotting", jotting.id),
	data: {
		title: jotting.data.title,
		timestamp: jotting.data.timestamp,
		tags: jotting.data.tags,
		sensitive: jotting.data.sensitive,
		top: jotting.data.top
	}
}));

// Extract all unique tags from the filtered jottings
const tags = Array.from(new Set(jottings.flatMap(jotting => jotting.data.tags).filter((tag): tag is string => Boolean(tag)))).sort();
---

<Base title={t("navigation.jotting")} {locale}>
	<main class="flex flex-col grow py-4">
		<ContentListingHeader index={3} label={t("navigation.jotting")} />
		<ContentList client:load {locale} section="jotting" items={list} {tags} />
	</main>
</Base>
