---
import { render } from "astro:content";
import config from "$config";
import { getInfoEntry, localeStaticPaths } from "$utils/content";
import Time from "$utils/time";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";

export const getStaticPaths = localeStaticPaths;

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const introduction = await getInfoEntry(locale, "introduction");
const linkroll = await getInfoEntry(locale, "linkroll");
const chronicle = (await getInfoEntry(locale, "chronicle"))?.data;

const { Content: Introduction } = introduction ? await render(introduction) : ({} as any);
const { Content: Linkroll } = linkroll ? await render(linkroll) : ({} as any);

const chronicles = Object.entries<string[]>(chronicle ?? {})
	.map(([date, events]) => ({ date: new Date(date), events: events ?? [] }))
	.sort((a, b) => b.date.getTime() - a.date.getTime());
---

<Base title={t("navigation.about")} {locale}>
	<main class="flex flex-col md:flex-row justify-between gap-12 py-6 relative">
		<!-- Print button -->
		<div class="absolute top-0 end-0 no-print">
			<button onclick="window.print()" class="border border-weak/20 hover:border-primary text-xs font-mono px-3 py-1.5 bg-background select-none transition-all duration-150 flex items-center gap-1.5 cursor-pointer shadow-sm rounded-sm">
				<span>[ {t("about.printPdf")} ]</span>
			</button>
		</div>

		<!-- Left Column: Resume & Links -->
		<article class="flex flex-col grow max-w-4xl min-w-0 pt-8 md:pt-4">
			{
				introduction && (
					<div class="mb-12">
						<div class="markdown select-text">
							<Introduction />
						</div>
					</div>
				)
			}
			{
				linkroll && (
					<div class="no-print mt-4">
						<div class="flex items-center gap-2 mb-6 border-b border-weak/10 pb-2">
							<span class="text-xs font-mono text-weak uppercase tracking-widest">[ {t("about.linkroll")} ]</span>
						</div>
						<div class="markdown select-text">
							<Linkroll {locale} />
						</div>
					</div>
				)
			}
		</article>

		<!-- Right Column: Site Chronicle -->
		{
			chronicles.length > 0 && (
				<aside class="no-print flex flex-col basis-64 shrink-0 md:pt-4">
					<div class="flex items-center gap-2 mb-6 border-b border-weak/10 pb-2">
						<span class="text-xs font-mono text-weak uppercase tracking-widest">[ {t("about.chronicle")} ]</span>
					</div>
					
					<ul class="list-none relative before:absolute before:content-[''] before:h-full before:top-2 before:border-s before:border-weak/10 after:absolute after:content-[''] after:w-2 after:h-2 after:-bottom-1 after:-start-[0.275rem] after:border after:border-primary after:rounded-full after:bg-primary">
						{chronicles.map(chronicle => (
							<li class="relative mb-6 pb-2 ps-4 before:absolute before:content-[''] before:w-2 before:h-2 before:top-2 before:-start-[0.275rem] before:border before:border-primary before:rounded-full before:bg-background">
								<span class="relative font-mono text-xs text-weak">{Time.toDateString(chronicle.date)}</span>
								<ul class="my-2 ps-3 list-none text-xs text-secondary space-y-1.5">
									{chronicle.events.map(event => {
										const remove = event?.match(/^~(?!~)(.*)$/);
										return (
											<li class="relative before:absolute before:content-[''] before:top-1.5 before:-start-3.5 before:w-1 before:h-1 before:bg-weak/30 before:rounded-full">
												{remove ? <del>{remove[1]}</del> : event}
											</li>
										);
									})}
								</ul>
							</li>
						))}
					</ul>
				</aside>
			)
		}
	</main>
</Base>
