---
import { render } from "astro:content";
import config from "$config";
import { getInfoEntry, localeStaticPaths } from "$utils/content";
import Base from "$layouts/Base.astro";
import i18nit from "$i18n";
import { ts } from "$utils/labels";

export const getStaticPaths = localeStaticPaths;

const { locale = config.i18n.defaultLocale } = Astro.params;

const t = i18nit(locale);

const policy = await getInfoEntry(locale, "policy");
const { Content } = policy ? await render(policy) : ({} as any);
---

<Base title={ts(t, "navigation.policy")} {locale}>
	<main>
		{
			policy && (
				<div class="markdown">
					<Content />
				</div>
			)
		}
	</main>
</Base>
